main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px 0 20px;
}

main .home-title {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

main .home-title h2 {
	font-size: 30px;
	font-weight: 700;
	color: #20b274;
}

main .underline {
	margin-top: 20px;
	width: 100px;
	height: 5px;
	background-color: #20b274;
	border-radius: 10px;
}

main .home-subtitle {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

main .home-subtitle h2 {
	font-size: 30px;
	font-weight: 700;
	color: #20b274;
}

.refresh-btn {
	margin-top: 50px;
	
}
